(
    chunk_size: 16.0,
    chunk_depth: 2,
    qef_solver: true,
    qef_solver_threshold: 0.1,
    qef_stddev: 0.1,
    lod_octree_depth: 2,
    camera_far_limit: true,
    horizontal_visibility_range: 256.0,
    height_visibility_range: (
        start: -128.0,
        end: 256.0,
    ),
    terrain_max_height: 256.0,
    stitch_seam_scheme: NeighborConnect,
)