(
    player_input_map: (
        map: {
            Ability2: [
                {
                    "KeyCode": KeyW,
                },
            ],
            Ability4: [
                {
                    "KeyCode": KeyR,
                },
            ],
            Jump: [
                {
                    "KeyCode": Space,
                },
            ],
            Ability1: [
                {
                    "KeyCode": KeyQ,
                },
            ],
            Ability3: [
                {
                    "KeyCode": KeyE,
                },
            ],
            Move: [
                {
                    "KeyboardVirtualDPad": (
                        up: ArrowUp,
                        down: ArrowDown,
                        left: ArrowLeft,
                        right: ArrowRight,
                        processors: [],
                    ),
                },
            ],
        },
        associated_gamepad: None,
    ),
)