(
    chunk_setting: (
        chunk_size: 32.0,
        depth: 6,
        qef_solver: true,
        qef_solver_threshold: {
            4: 2.0,
            6: 8.0,
            2: 0.5,
            8: 10.0,
            5: 4.0,
            9: 10.0,
            7: 10.0,
            0: 0.05,
            1: 0.1,
            3: 1.0,
        },
        qef_stddev: 0.1,
    ),
    lod_setting: (
        lod_octree_depth: 8,
        load_node_num_per_processor_core: 8,
    ),
)