(
    chunk_setting: (
        chunk_size: 16.0,
        voxel_size: 0.25,
        qef_solver: true,
        qef_solver_threshold: {
            5: 0.1,
            4: 0.1,
            7: 0.1,
            8: 0.1,
            6: 0.1,
            9: 0.1,
            3: 0.1,
            0: 0.1,
            1: 0.1,
            2: 0.1,
        },
        qef_pos_stddev: 0.025,
        qef_normal_stddev: 0.1,
    ),
    clipmap_setting: (
        lod_vec: [
            (
                chunk_chebyshev_distance: 0,
                lod: 0,
            ),
            (
                chunk_chebyshev_distance: 2,
                lod: 1,
            ),
            (
                chunk_chebyshev_distance: 4,
                lod: 1,
            ),
            (
                chunk_chebyshev_distance: 8,
                lod: 2,
            ),
            (
                chunk_chebyshev_distance: 16,
                lod: 3,
            ),
        ],
    ),
)