(
    grid_num: 128,
    grid_cell_size: 32.0,
    rand_point_num: 12,
    rand_point_range_percent: (
        start: 0.2,
        end: 0.8,
    ),
    rand_point_radius: (
        start: 5,
        end: 10,
    ),
    rand_point_height: (
        start: 0.5,
        end: 1.0,
    ),
    max_base_humidity: 0.3,
    temperature_range: (
        start: -40.0,
        end: 40.0,
    ),
    temperature_altitude_range: (
        start: -20.0,
        end: 0.0,
    ),
    temperature_horizontal_range: (
        start: -20.0,
        end: 60.0,
    ),
    image_save_path: "\\\\?\\E:\\atom\\saved\\maps",
)